<% provide(:title, "Home") %>
<% if logged_in? %>
  <aside>
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/mmpnote_form' %>
    </section>
  </aside>
</div>
<% else %>
<div class="container">
  <div class="jumbotron masthead">
    <div class="container">
      <h1>MMP NOTE</h1>
    </div>
    <div class="container">
      <h2>
	Welcome to to the mmp Note
      </h2>
    </div>
  </div>
<%= link_to "Sign up", signup_path %>
</div>
<% end %>
