<% provide(:title, "Edit Group") %>
<h1>Update Group profile</h1>
<div>
  <div>
    <%= form_for(@group) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
