<% provide(:title, 'All group') %>
<h1>All groups</h1>

<%= will_paginate %>
<ul class="users">
    <li>Name|ID|Users</li>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %>|<%= group.id %>|<%= group.users.count %>
      <% if group.users.include?(current_user) %>
      <% else %>
      | <%= link_to "Join", apply_for_join_user_path(:id=>group.id), method: :post %></li>
    <% end %>
    <% if current_user.admin? %>
    <li><%= link_to "delete", group, method: :delete,
	  data: { confirm: "You sure?" } %></li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate %>
