<% provide(:title, "New group") %>

<h1>New Group</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@group) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit "Create Group", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
