<% provide(:title, "joined_group") %>
<div>
  <div>
  <%= @group.name %>
  </div>
  <div>
    <h3>Users: <%= @group.users.count %></h3>
    <ul>
      <% @group.users.each do |user| %>
      <li>
	<div class="container">
	<%= gravatar_for user, size: 50 %>
	<%= link_to user.name, user %>
	</div>
	<br>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <h3>Group Notes: <%= @group.mmpnotes.count %></h3>
    <ul>
      <% @group.mmpnotes.each do |note| %>
      <li>
	<div class="container">
	  <%= link_to note.subject, note %>
	</div>
	<br>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="btn">
    <%= link_to "Create New Group Note", new_mmpnote_path(:group_id=>@group.id) %>
  </div>
  
</div>
