<div>
  
  <div>
    <% if @joined_groups.any? %>
    <h3>Groups (<%= @joined_groups.count %>)</h3>
    <ul>
      <% @joined_groups.each do |joined_group| %>
      <li>
	<%= link_to joined_group.name, joined_group %>|
	<%= joined_group.users.count %> | 
	<%= link_to "Exit", relationship_path(current_user.relationships.find_by(group_id: joined_group.id)), method: :delete %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <li><%= link_to "Create New Group", new_group_path %></li>
</div>
