<% provide(:title, @user.name) %>
<div>
  <div>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
  
  <div>
    <% if @user.mmpnotes.any? %>
    <h3>Mmpnotes (<%= @user.mmpnotes.count %>)</h3>
    <ol>
      <%= render @mmpnotes %>
    </ol>
    <%= will_paginate @mmpnotes %>
    <% end %>
  </div>
</div>
