<% if object.errors.any? %>

<div>
  The form contains <%= pluralize(object.errors.count,"error") %>.
</div>
<ul>
  <% object.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
     <% end %>
 </ul>

<% end %>
