<li id="mmpnote-<%= mmpnote.id %>">
  <%= link_to gravatar_for(mmpnote.user, size: 50), mmpnote.user %>
<div class="container">
<div>
  <span>user:<%= link_to mmpnote.user.name, mmpnote.user %></span>
<br></br>
</div>
<div>
  <span>subject:<%= mmpnote.subject %></span>
<br></br>
</div>
<div>
  <%= link_to 'details', mmpnote_path(mmpnote) %> |
  <%= link_to 'delete', mmpnote, method: :delete %>
  <br></br>
  <hr>
</div>
  <span>
    Posted <%= time_ago_in_words(mmpnote.created_at) %> ago.
  </span>
</div>
</li>
