<%= form_for(@mmpnote) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.text_area :subject, placeholder: "Note Subject..." %>
  <%= f.text_area :content, placeholder: "Update mmpnote..." %>
</div>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
