<% provide(:title, "New Group Note") %>

<section>
  <%= form_for(@mmpnote) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :subject, placeholder: "Note Subject" %>
    <%= f.text_area :content, placeholder: "Compose New mmpnote..." %>
    <%= hidden_field_tag "group_id", @group.id %>
  </div>
  <%= f.submit "Post", class: "btn-primary" %>
  <% end %>
</section>
