<% provide(:title, @mmpnote.subject) %>
<div>
  <div>
    <h1>
      <%= @mmpnote.subject %>
    </h1>
  </div>
  <div>
    <%= @mmpnote.content %>
  </div>
  <div>
    <%= link_to "edit", edit_mmpnote_path(@mmpnote) %>
  </div>
</div>
